* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
/* ELEMENTS */
html {
  font-family: sans-serif;
}
body {
  background-color: rgb(219, 217, 217);
}
h1,h2 {
  text-align: center;
}
ul {
  margin: 5px 7px;
}
ul li {
  margin-right: 25px;
}
a {
  color: black;
  text-decoration: none;
  margin: 5px;
}
a:hover {
  outline: 1px solid skyblue;
}

div {
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color: gray;
  padding: 0 10%;
  margin: 5px;
  border-radius: 5px;
}
div:hover {
    outline: 1px green solid;
  }
h2,p {
  font-size: large;
  font-weight: 600;
}
/* CLASSES */
.paragraph {
  margin: 1px 7px;
}
.definition {
  background-color: rgba(103, 202, 241, 0.400);
  border-color: rgb(6, 184, 255);
}
.point {
  background-color: rgba(172, 255, 47, 0.400);
  border-color: greenyellow;
}
.attention {
  background-color: rgba(255, 0, 0, 0.400);
  border-color: red
}
.golden {
  background-color: rgba(255, 217, 0, 0.400);
  border-color: gold;
}
.point, .definition , .attention, .golden{
  margin: 3px 0;
  padding: 2px 4px;
  border-style: solid;
  border-width: 0 5px;
  border-radius: 3px;
}