* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
/* ELEMENTS */
body {
  background-color: silver;
}
h1,h2 {
  text-align: center;
}
ul {
  margin: 5px 7px;
}
ul li {
  margin-right: 25px;
}
/* CLASSES */
.paragraph {
  margin: 1px 7px;
}
.definition {
  margin: 3px 0;
  padding: 2px 10px;
  background-color: rgba(103, 202, 241, 0.404);
  border-style: solid;
  border-color: rgb(6, 184, 255);
  border-width: 0 5px;
  border-radius: 2px;
}